#!/usr/bin/make -f

clean:
	dh_clean

build:

install:
	dh_testdir
	dh_testroot
	dh_prep
	make DESTDIR=$(CURDIR)/debian/easy2 install

binary: binary-indep

binary-arch:

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installinit --no-start
	dh_installchangelogs
	dh_installdocs
	dh_installdirs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# -*- mode: makefile; tab-width: 4; indent-tabs-mode: t -*-